.gng_bar {
    text-align: center;
    background-color: salmon;
    margin:0;
    padding: 10px 0;
}
.gng_bar li {
    display: inline-block; 
    list-style: none; 
    padding: 0 10px;
    color:#fff;
}