.tmpProtection {
  width:1200px; 
  margin: 0 auto;
}
.main_tit {
    font-size: 20px; 
    text-align: center;
}

.tmpProtection ul li div.img{
  width: 150px; 
  height: 150px; 
  background-size: cover; 
  background-position: center;
  border-radius: 50%;
  margin: 0 auto;
}
.tmpProtection ul li div.area{
  text-align: center;
}
