body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    color:#333;
}
ul, p{
    padding : 0;
    margin : 0;
}
li {
    list-style : none;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: ''; 
    background-position: 0 0;
}
.swiper-button-next, .swiper-button-prev {
    width:106px;
    height: 127px;
    background-image: url(./img/arrow.png);
    background-repeat: no-repeat;
}
.swiper-button-next {
    background-position: 0 0;
}
.swiper-button-next {
    background-position: -105px 0;
}
.App {
     text-align : center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
