.gnb_wrap {
    width: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 10;
}
.gnb_wrap .gnb_left {
    width: 500px;
    text-align: left;
    float:left;
    padding: 10px 0 10px 30px;
}
.gnb_wrap .gnb_left li {
    display: inline-block; 
    list-style: none; 
    padding: 0 10px;
}
.gnb_wrap .gnb_right {
    width: 180px;
    text-align: left;
    float:right;
    padding: 10px 30px 0 0 ;
    text-align: right;
}
.gnb_wrap .gnb_right li {
    display: inline-block; 
    list-style: none; 
    padding: 0 10px;
}
a:-webkit-any-link{
    color:#000000;
    text-decoration: none;

}
