.joinClass{
  margin-top: 50px;
}
.joinClass div{
  width: 200px;
  margin:100px auto 0 auto;
  font-size: 36px;
}
.joinTable{
  width: 60%;
  margin:50px auto 0 auto;
  padding:20px;
  border: 2px dotted #a0a0a0;
  border-radius: 30px;
  height: 500px;
}
.joinTable tr td{
  height: 24px;
}
.must{
  width:5px;
  color:#ff0000;
}
.td_left{
  width: 120px;
}
.td_right{
}
.btn{
  text-align: center;
  height: 40px;
}
.joinBtn{
  width: 80%;
  border:none;
  height: 36px;
  text-align: center;
  background-color: #efc06d;
  color:#fff;
  border-radius: 10px;
  font-size: 16px;
}
input{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}