/* main slider */
.main .Main_banner {
  margin-top: 50px;
}
/* multiple slider*/
.main .multiple {
  width:1200px; 
  margin: 0 auto;
}
.main .multiple .main_tit {
    font-size: 30px; 
    text-align: center;
    margin: 100px 0 50px;
}

.main .multiple ul li div.img{
  width: 100%;
  padding-bottom: 100%; 
  background-size: cover; 
  background-position: center;
  border-radius: 50%;
  margin: 0 auto;
}
.multiple ul li div.area{
  text-align: center;
  margin-top: 20px;
}
