/* main slider */
.main .Main_banner {
    margin-top: 50px;
}
/* multiple slider*/
.main .multiple {
    width:100%; 
    margin: 0 auto;
}
.main .multiple .main_tit {
    font-size: 18px; 
    text-align: center;
    margin: 100px 0 0;
}

.main .multiple .main_tit span{
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    margin: 10px 0 0;
}

.main .multiple .main_tit + .btn_wrap {
    text-align: right;
    width:1200px;
    margin:0 auto 20px;

}

.main .multiple .main_tit + .btn_wrap span{
    display: inline-block; 
    margin-left: 20px;
}

.main .multiple .main_tit + .btn_wrap span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.main .multiple ul li img{
    width: 100%;
    margin: 0 auto;
}
.main .multiple ul li div.area{
    padding: 20px 0;
}

.main .multiple ul li div.area p.txt span{
    font-weight: 400;
}

/* animal_list */
.content .top {
    text-align: center;
    border-bottom: 1px solid #ddd;
}.content .top h1.tit{
    font-size: 20px;
}
.animal_list .mid {
    overflow: hidden;
}
.animal_list .mid .btn_wrap {
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0 0;
    text-align: left;
}

.animal_list .mid .btn_wrap span.sort span{
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}
.animal_list .mid .btn_wrap span.sort::after{
    content: '|';
    padding: 0 8px;
    color: #666;
    vertical-align: top;
    font-size: 15px;
}
.animal_list .mid .btn_wrap span.sort.state::after{
    content: '';
}
.animal_list .mid .btn_wrap span.sort span.on{
    text-decoration: underline;
}
.animal_list .mid .btn_wrap div.roundBtn_wrap{
    float: right;
    cursor: pointer;
}
.animal_list .mid .list_wrap{
    width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
}
.animal_list .list_wrap li{
    background-color: #fff;
    padding: 30px;
    border-bottom:1px solid #eee;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}
.animal_list .list_wrap li div.thumb{
    width: 150px;
    padding-bottom: 150px;
    float: right;
}
.animal_list .list_wrap li div.txtBx{
    width: calc(100% - 150px);
    float: left;
    padding-right: 30px;
    box-sizing: border-box;
}
.animal_list .list_wrap li div.txtBx p.tit{
    font-size: 20px;
    font-weight: 400;
}
.animal_list .list_wrap li div.txtBx p.subtxt{
    font-size: 14px;
    color: #666;
    height: 60px;
    overflow: hidden;
}
.secondUse div.mid > div {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.secondUse div.mid ul.list_wrap {
    width: 900px;
    float: right;
}
.secondUse div.mid ul.list_wrap li {
    width: calc(33.3333% - 42px);
    float: left;
    margin: 10px;
    padding: 10px;
    height: 370px;
    background-color: #fff;
    border:1px solid #fefefe;
    border-bottom: 1px solid #ddd;
}
.secondUse div.mid ul.list_wrap li div.thumb{
    width:260px;
    padding-bottom:260px;
}
.secondUse div.mid ul.list_wrap li div.txtBx{
    padding-top:12px;
}
.secondUse div.mid ul.list_wrap li div.txtBx span.state_info{
    display: inline-block;
    padding-right: 5px;
}
.secondUse div.mid ul.list_wrap li div.txtBx span.new_ico{
    font-size: 10px;
    color: #fe7f9c;
    display: inline-block;
    padding: 0 5px;
}