/* main */
.main .Main_banner {
    margin-top: 50px;
}
.main .multiple {
    width:100%;
    margin: 0 auto;
}
.main .multiple .top {
    border-bottom: none;
}
.main .multiple .main_tit {
    font-size: 18px;
    text-align: center;
    margin: 100px 0 0;
}

.main .multiple .main_tit span{
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    margin: 10px 0 0;
}

.main .multiple .main_tit + .btn_wrap {
    text-align: right;
    width:1200px;
    margin:0 auto 20px;
}

.main .multiple .main_tit + .btn_wrap span{
    display: inline-block;
    margin-left: 20px;
}

.main .multiple .main_tit + .btn_wrap span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.main .multiple ul li img{
    width: 100%;
    margin: 0 auto;
}
.main .multiple ul li div.area{
    padding: 20px 0;
}

.main .multiple ul li div.area p.txt span{
    font-weight: 400;
}

/* main_pop up */
.pop {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

/* pop_up detail view*/
.AnimalDetails .pop_wrap{
    width: 600px;
    height: 70%;
    max-height: 800px;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    min-height: 500px;
    text-align: left;
}

.AnimalDetails .pop_wrap .top{
    background-size: cover;
    background-position: center;
    width: calc(100% - 18px);
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    box-sizing: border-box;
}
.AnimalDetails .pop_wrap .top::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.AnimalDetails .pop_wrap .top .tag{
    background-color: #fe7f9cc7;
    color: #fff;
    font-size: 10px;
    display: inline-block;
    padding: 2px 10px;
    font-weight: lighter;
    margin-top: 30px;
}
.AnimalDetails .pop_wrap .top .tag + .tit{
    margin: 20px 0 20px;
    color:#fff;
    font-weight: 400;
    font-size: 20px;
}
.AnimalDetails .pop_wrap .top .tag + .tit + .roundBtn_wrap span{
    color:#fff;
    border-color: #fff;
}
.AnimalDetails .pop_wrap .mid {
    height: 100%;
    background-color: transparent;
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.AnimalDetails .pop_wrap .mid > div{
    margin-top: 300px;
    background-color: #fff;
    padding: 30px;
}
.AnimalDetails .pop_wrap .mid > div table{
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 3px solid #fe7f9c42;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 50px;
    font-size: 15px;
}
.AnimalDetails .pop_wrap .mid > div table tr{
    text-align: center;
}
.AnimalDetails .pop_wrap .mid > div table th{
    background-color: #f9f9f9;
    color:#999;
    font-weight: normal;
    padding: 5px 0;
}
.AnimalDetails .pop_wrap .mid > div table td{
    padding: 5px 0;
    color: #222;
}
.AnimalDetails .pop_wrap .mid > div .gallery-top {
    margin-bottom: 20px;
}
.AnimalDetails .pop_wrap .mid > div .gallery-top .swiper-slide{
    width:100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}
.AnimalDetails .pop_wrap .mid > div .gallery-thumbs .swiper-slide{
    width: 20%;
    padding-bottom: 25%;
    background-size: cover;
    background-position: center;
}
.AnimalDetails .pop_wrap .mid > div .gallery-thumbs .swiper-slide-thumb-active{
    border:1px solid #fe7f9c;
    box-sizing: border-box;
}
.AnimalDetails .pop_wrap .mid > div .txt{
    font-size: 15px;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    margin-top: 50px;
    padding: 20px 0;
    color: #222;
    line-height: 1.6;
    margin-bottom: 50px;
}
.AnimalDetails .pop_wrap .mid > div .txt + div{
    font-size: 13px;
    line-height: 1.6;
}
.AnimalDetails .pop_wrap .mid > div .txt + div ol {
    padding: 0 0 0 20px;
}
.AnimalDetails .pop_wrap .mid > div .txt + div ol li{
	list-style: decimal;
	text-align: left;
}

/* pop_up board write*/
.BoardWrite .pop_wrap {
    width: 600px;
    height: 70%;
    max-height: 800px;
    background-color: #fff;
    border: 2px solid #000;
    position: relative;
    margin: 0 auto;
    min-height: 500px;
    text-align: left;
    background-color: #fafafa;

}
.BoardWrite .pop_wrap > div  {
    height: 100%;
    overflow: auto;
    padding: 40px;
    box-sizing: border-box;
}
.BoardWrite .pop_wrap > div > ul > li{
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    border-radius: 5px;
}
.BoardWrite .pop_wrap li > div {
    margin-bottom: 10px;
}
.BoardWrite .pop_wrap > div > ul > li > div.tit{
    width: 120px;
    display: inline-block;
    line-height: 30px;
}
.BoardWrite .pop_wrap > div > ul > li > div.subtxt{
    width: calc(100% - 120px);
    display: inline-block;
    vertical-align: top;
}
.BoardWrite .pop_wrap > div > ul > li > div.subtxt select{
    border: none;
    border-bottom: 1px solid #c2c3c7;
    border-radius: 0;
}
.BoardWrite .pop_wrap > div > ul > li > div.subtxt > button{
    background-color: transparent;
    /* border: 1px solid #c2c3c7; */
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
}
.BoardWrite .pop_wrap > div > ul > li > div.subtxt > button.btn_cnt.minus{
    border-radius: 15px 0 0 15px;
    border-right: none;
    width: 40px;
    font-size: 20px;
}
.BoardWrite .pop_wrap > div > ul > li > div.subtxt > button.btn_cnt.plus{
    border-radius: 0 15px 15px 0;
    border-left: none;  
    width: 40px;  
    font-size: 20px;
}
.BoardWrite .pop_wrap > div > ul > li > div.subtxt > button.btn_subOpt{
    width: 50px;
    border:none;
    color: #c2c3c7;
}
.BoardWrite .pop_wrap > div > ul > li > div.subtxt > button.btn_subOpt:hover{
    color: #333;
}
.BoardWrite .pop_wrap > div > ul > li > div.subtxt > .on{
    border: 1px solid #fe7f9c;
    color: #fe7f9c;
}
.BoardWrite .pop_wrap > div > ul > li > div.subtxt > input{
    height: 30px;
    border-color: #c2c3c7;
    background-color: #fcfcfc;
    text-align: center;;
}
.BoardWrite .pop_wrap > div > ul > li > div.subtxt > input.input_cnt{
    display: inline-block;
    border-top: 1px solid #c2c3c7;
    border-bottom: 1px solid #c2c3c7;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: top;
}
.BoardWrite .pop_wrap > div > ul > li > div.subtxt > input::placeholder{
    color: #ccc;
}
.BoardWrite .pop_wrap > div > ul > li > div.subtxt > textarea{
    border: 1px solid #c2c3c7;
    height: 300px;
}
.BoardWrite .pop_wrap > div > ul > li > div.subtxt li{
    width: calc(33.3333% - 5px);
    padding-bottom: calc(33.3333% - 5px);
    border:1px solid #eee;
    float: left;
    box-sizing: border-box;
    margin: 0 5px 5px 0;
    background-color: #fcfcfc;
    cursor: pointer;
    background-image: url(../img/pic_plus.png);
    background-size: contain;
}
.BoardWrite .pop_wrap > div > ul > li > div.subtxt li:hover{
    border:1px solid #c2c3c7
}
.BoardWrite .pop_wrap div.bottom {
    text-align: right;
}
.BoardWrite .pop_wrap div.bottom button{
    width: 100px;
}

/* top */
.content .top {
    text-align: center;
	border-bottom: 1px solid #ddd;
}
.content.main .top {
    border-bottom: none;
}
.content .top h1.tit{
    font-size: 20px;
}
.content .top .btn_wrap{
	width : 550px;
	margin: 0 auto;
}
/* mid : 임보, 입양 */
.animal_list .mid {
    overflow: hidden;
}
.animal_list .mid .btn_wrap {
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0 0;
    text-align: left;
}

.animal_list .mid .btn_wrap span.sort button{
    display: inline-block;
    padding: 0 8px;
		cursor: pointer;
		border: none;
		background: transparent;
		font-size: 16px;
		color:#333;
}
.animal_list .mid .btn_wrap span.sort::after{
    content: '|';
    padding: 0 8px;
    color: #666;
    vertical-align: top;
    font-size: 15px;
}
.animal_list .mid .btn_wrap span.sort.state::after{
    content: '';
}
.animal_list .mid .btn_wrap span.sort button.on{
    text-decoration: underline;
}
.animal_list .mid .btn_wrap div.roundBtn_wrap{
    float: right;
    cursor: pointer;
}
.animal_list .mid .list_wrap{
    width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
}
.animal_list .list_wrap li{
    background-color: #fff;
    padding: 30px;
    border-bottom:1px solid #eee;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}
.animal_list .list_wrap li div.thumb{
    width: 150px;
    padding-bottom: 150px;
    float: right;
}
.animal_list .list_wrap li div.txtBx{
    width: calc(100% - 150px);
    float: left;
    padding-right: 30px;
    box-sizing: border-box;
}
.animal_list .list_wrap li div.txtBx p.tit{
    font-size: 20px;
    font-weight: 400;
}
.animal_list .list_wrap li div.txtBx p.subtxt{
    font-size: 14px;
    color: #666;
    height: 60px;
    overflow: hidden;
}

/* mid : 중고상품, 추천상품 */
.product div.mid > div {
    width: 1000px;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
}
.product div.mid div.btn_wrap {
    width: 800px;
    float: right;
}
.product div.mid div.btn_wrap span.sort.kind{
    position: absolute;
    top: 55px;
    left: 0;
    width: 100px;
}
.product div.mid div.btn_wrap span.sort.kind strong{
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}
.product div.mid div.btn_wrap span.sort.kind span{
    display: inline-block;
    background-color: #eee;
    width: auto;
    height: 24px;
    line-height: 24px;
    border-radius: 15px;
    text-align: center;
    padding: 0 15px;
    margin-bottom: 10px;
    font-size: 13px;
    cursor: pointer;
}
.product div.mid div.btn_wrap span.sort.kind span.on,
.product div.mid div.btn_wrap span.sort.kind span:hover{
    background-color: #ddd;
}
.product div.mid div.btn_wrap span.sort.state{
    float: left;
    margin-left: 10px;
}
.product div.mid div.btn_wrap span.sort.state span{
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.product div.mid div.btn_wrap span.sort.state span.on,
.product div.mid div.btn_wrap span.sort.state span:hover{
    text-decoration: underline;
}

.product div.mid div.btn_wrap div.roundBtn_wrap{
    float: right;
    margin-right: 10px;
}
.product div.mid div.btn_wrap div.roundBtn_wrap span{
    cursor: pointer;
}
.product div.mid div.btn_wrap div.roundBtn_wrap span:hover{
    border: 1px solid #fe7f9c;
    color: #fe7f9c;
}
.product div.mid ul.list_wrap {
    width: 800px;
    float: right;
}
.product div.mid ul.list_wrap li {
    width: calc(33.3333% - 42px);
    display: inline-block;
    margin: 10px;
    padding: 10px 10px 30px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    height: 300px;
    vertical-align: top;
}
.product.Recommendation div.mid ul.list_wrap li {
    height: 330px;
}
.product div.mid ul.list_wrap li div.thumb{
    width:100%;
    padding-bottom:100%;
}
.product div.mid ul.list_wrap li div.txtBx{
    padding-top:12px;
}
.product div.mid ul.list_wrap li div.txtBx .info span.star_graph{
    width: 75px;
    height: 15px;
    background-image: url(../img/star_back_ico.png);
    background-size: 15px;
    display: block;
    margin-bottom: 5px;
}
.product div.mid ul.list_wrap li div.txtBx .info span.star_graph span{
    width: 88%;
    height: 15px;
    background-image: url(../img/star_ico.png);
    background-size: 15px;
    display: block;
}
.product div.mid ul.list_wrap li div.txtBx .info span.txt{
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    width:calc(100% - 30px);
    overflow:hidden;
    padding: 0;
}
.product div.mid ul.list_wrap li div.txtBx .info span.ico{
    cursor: pointer;
    color: #fe7f9c;
    opacity: 0.8;
}
.product div.mid ul.list_wrap li div.txtBx .info span.ico i{
    font-size: 20px;
}

.product div.mid ul.list_wrap li div.txtBx span.state_info{
    display: inline-block;
    padding-right: 5px;
}

.product div.mid ul.list_wrap li div.txtBx span.new_ico{
    font-size: 10px;
    color: #fe7f9c;
    display: inline-block;
    padding: 0 5px;
}
.Recommendation .info span::after{
    content: '';
    padding:0;
}

/* mid : 스토리 톡톡 */
.Talk .mid {
    padding:20px 0 50px;
}
.Talk .mid .writeBox {
    width: 1000px; 
    margin:0 auto;
    padding: 20px; 
    background-color: #fff;
    border:1px solid #ddd;
    overflow: hidden;
    box-sizing: border-box;
}
.Talk .mid .writeBox + .subtxt {
    width: 1000px;
    margin: 0 auto;
    font-size: 12px;
    margin-top: 10px;
    color: #999;
}
.Talk .mid .writeBox *{
    box-sizing: border-box;
}
.Talk .mid .writeBox textarea{
    width: 1000px; 
    height: 118px;
    text-align: center;
    padding: 10px;
    border: none;
    outline: none;
}
.Talk .mid .writeBox input.btn{
    height: 30px;
    line-height: 30px;
    float: right;
    border-radius: 15px;
    margin-top: 20px;
}
.Talk .mid .writeBox div.file-wrap div{
    position: relative;
    width: 38px;
    height: 38px;
    float: left;
    margin-right: 10px;
}
.Talk .mid .writeBox div.file-wrap div img{
    width: 100%;
    height: 100%;
}

.Talk .mid .writeBox div.file-wrap div .cover{
    position: absolute;
    width: 38px;
    top: 0;
    left: 0;
    height: 38px;
    line-height: 38px;
    color: #fff;
    letter-spacing: -1px;
    text-align: center;
    background: #000;
    opacity: 0.4;
    filter: alpha(opacity=40);
    font-size: 12px;
    cursor: pointer;
}
.Talk .mid .writeBox .file-attach .camera {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 38px;
    height: 38px;
    border: 1px solid #959595;
    cursor: pointer;
    background-image: url(../img/camera_ico.png);
    background-size: contain;
    background-position: center;;
}
.Talk .mid .writeBox .file-attach .camera input.file-trick{
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    cursor: pointer;
    border: 0 none;
    background: 0 none;
    opacity: 0;
    filter: alpha(opacity=0);

}
.Talk .mid .listBox {
    width: 1000px;
    margin: 50px auto;
}
.Talk .mid .listBox li {
    overflow: hidden;
    margin-bottom: 30px;
}
.Talk .mid .listBox li .writer {
    width: 90px;
    height: 90px;
    background-color: #fe7f9c69;
    text-align: center;
    line-height: 90px;
    border-radius: 50%;
    color: #fff;
}

.Talk .mid .listBox li .writer + div {
    width: auto;
    max-width: 890px;
    background: #fff;
    box-sizing: border-box;
    position: relative;
    min-height: 90px;
    border: 1px solid #ddd;
}
.Talk .mid .listBox li .writer + div > *{
    padding: 5px 20px
}
.Talk .mid .listBox li .writer + div > div:first-child{
    padding-top: 20px;
}

.Talk .mid .listBox li:nth-child(odd) .writer {
    float: left;
}
.Talk .mid .listBox li:nth-child(even) .writer {
    float: right; 
}
.Talk .mid .listBox li:nth-child(odd) .writer + div {
    margin:0 0 0 20px;
    float: left;
}
.Talk .mid .listBox li:nth-child(even) .writer + div {
    margin:0 20px 0 0;
    float: right;
}
.Talk .mid .listBox li:nth-child(odd) .writer + div::before{
    border: 15px solid #ddd;
    left: -26px;
}
.Talk .mid .listBox li:nth-child(even) .writer + div::before{
    border: 15px solid #ddd;
    right: -26px;
}
.Talk .mid .listBox li:nth-child(odd) .writer + div::after{
    border: 15px solid #fff;
    left: -25px;
}
.Talk .mid .listBox li:nth-child(even) .writer + div::after{
    border: 15px solid #fff;
    right: -25px;
}

.Talk .mid .listBox li:nth-child(odd) .writer + div::before,
.Talk .mid .listBox li:nth-child(odd) .writer + div::after{
    content: '';
    position: absolute;
    top: 25px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
}
.Talk .mid .listBox li:nth-child(even) .writer + div::before,
.Talk .mid .listBox li:nth-child(even) .writer + div::after{
    content: '';
    position: absolute;
    top: 25px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
}
.Talk .mid .listBox li .writer + div .txt .btn_more{
    display: inline-block;
    margin-left: 10px;
    color: #bbb;
}
.Talk .mid .listBox li .writer + div .info i{
    font-size: 15px;
    cursor: pointer;
}
.Talk .mid .listBox li .writer + div .swiper-container{
    min-width: 300px;
    max-width: 700px;
}
.Talk .mid .listBox li .writer + div .comment{
    font-size: 12px;
}
.Talk .mid .listBox li .writer + div .comment strong{
    display: inline-block;
    margin-right: 10px;
}
.Talk .mid .listBox li .writer + div .comment_input{
    border-top:1px dashed #ddd;
    padding: 10px 20px;
}
.Talk .mid .listBox li .writer + div .comment_input textarea{
    border-top: 1px solid #ddd;
    padding: 0;
    border: none;
    outline: none;
    resize: none;
    width: calc(100% - 50px);
    height: 18px;
    max-height: 80px;
    line-height: 18px;
    color: #959595;
    font-family: 'Noto Sans KR', sans-serif;
}
.Talk .mid .listBox li .writer + div .comment_input button{
    border: none;
    background-color: transparent;
    color: #fe7f9c;
    font-weight: bold;
    float: right;
}